*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    background: black;
    color: white;
    font-family: sans-serif;
}

/* common sections */
section{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    margin: auto;
    float: left;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.width-80{
    width: 80%;
    max-width: 600px;
    margin: auto;
    padding-top: 200px;
    text-align: center;
}

/* section background images */
#photography{
    background: url(images/photo.jpg) center/cover no-repeat ;
}
#video{
    background: url(images/video.jpg) center/cover no-repeat ;
}
#sound{
    background: url(images/sound.jpg) center/cover no-repeat ;
}
#contact{
    background: black;
}

/* header section */
header{
    position: fixed;
    width: 100%;
    padding: 5px;
    background: black;
    z-index: 999;
}
header .navbar {
    display: flex;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}
header .logo {
    display: flex;
    align-items: center;
}
header .logo img{
    width: 50px;
    height: auto;
}
header h1 {
    font-size: 20px;
}
header .menu{
    display: flex;
    overflow: hidden;
}
header .menu li{
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
}
.menu a {
    display: block;
    text-align: center;
    text-decoration: none;
}
.menu .icon{
    display: none;
    font-size: 20px;
}
a{
    color: white;
    text-decoration: none;
    transition: all 0.2s ease;
}
a:hover{
    color: rgb(200, 200, 200);
}

/* photography section */
#photographyTextContainer{
    display: flex;
    text-align: left;
}
#photographyES{
    flex: 1;
    margin: 10px;
}
#photographyEN{
    flex: 1;
    margin: 10px;
}

/* contact section */
input, textarea {
    font-family: sans-serif;
    width: 100%;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    resize: vertical;
  } 
button {
    display: flex;
    background-color: #4CAF50;
    color: white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
}

/* footer */
footer{
    width: 100%;
    padding: 0px 10px;
    margin: auto;
    text-align: center;
}
footer p{
    padding: 10px;
}

/* media queries */
@media screen and (max-width: 992px) {
    .menu a {
        display: none;
      }
    .menu .icon {
      float: right;
      display: block;
    }
}
@media screen and (max-width: 992px) {
    .menu.responsive {position: relative;}
  .menu.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .menu.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}