*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    color: #fff;
}

body{
    font-size: 100%;
    font-family: sans-serif;
}

/*css reset*/

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    align-items: center;
    position: fixed;
    z-index: 999;
    background: black;
}

h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

#menu li{
    list-style: none;
    display: inline-block;
    margin: 20px;
}

#menu li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

section{
    width: 100%;
    float: left;
    height: 100vh;
    position: relative;
    margin: auto;
    text-align: center;
}

#home{
   background-color: black;
}

#photography{
    background-color: black;
}

#video{
    background-color: black;
}

#sound{
    background-color: black;
}

#contact{
    background-color: black;
}







