*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    background: black;
    color: white;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
}

/* common sections */
section{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    margin: auto;
    float: left;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.width-80{
    width: 80%;
    max-width: 600px;
    margin: auto;
    padding-top: 80px;
    text-align: center;
}

/* section background images */
#photography{
    background: url(images/photo.jpg) center/cover no-repeat ;
}
#video{
    background: url(images/video.jpg) center/cover no-repeat ;
}
#sound{
    background: url(images/sound.jpg) center/cover no-repeat ;
}
#contact{
    background: black;
}

/* header section */
header{
    position: fixed;
    width: 100%;
    padding: 5px;
    background: black;
    z-index: 999;
}
header .navbar {
    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}
header .navbar .logo {
    display: flex;
    align-items: center;
}
header .navbar .logo img{
    width: 50px;
    height: auto;
}
header .navbar .logo h1 {
    font-size: 20px;
}
header .navbar .menu{
    display: flex;
    overflow: hidden;
}
header .navbar .menu li{
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
}
header .navbar .menu .li a{
    display: block;
    text-align: center;
    text-decoration: none;
}
header .navbar .menubtn{
    display: none;
    font-size: 20px;
    transition: all 0.2s ease;
}
a{
    color: white;
    text-decoration: none;
    transition: all 0.2s ease;
}
a:hover{
    color: rgb(200, 200, 200);
}

/* photography section */
#photographyTextContainer{
    display: flex;
    text-align: left;
}
#photographyES{
    flex: 1;
    margin: 10px;
}
#photographyEN{
    flex: 1;
    margin: 10px;
}
.gallery{
    width: 80%;
    margin: auto;
    text-align: center;
}
.gallery img{
    width: 300px;
    height: auto;
    transition: all 0.2ms ease;
}
.gallery img:hover{
    border: solid 1px white;
}

/* contact section */
input, textarea {
    font-family: sans-serif;
    width: 100%;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    resize: vertical;
  } 
button {
    display: flex;
    background-color: #4CAF50;
    color: white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
}

/* footer */
footer{
    width: 100%;
    padding: 0px 10px;
    margin: auto;
    text-align: center;
}
footer p{
    padding: 10px;
}

/* media queries */
@media screen and (max-width: 768px) {
    header .navbar .menu a{
        display: none;
    }
    header .navbar .menubtn{
        display: block;
        z-index: 999;
    }
}
@media screen and (max-width: 768px) {
    header .navbar .responsive {
        position: absolute;
        top: 0;
        left: 0;
        padding-top: 40%;
        display: block;
        width: 100vw;
        height: 100vh;
        background: black;
    }
    header .navbar .responsive a{
        display: block;
        width: 80%;
        margin: auto;
        padding: 10px;
        font-size: large;
        text-align: center;
    }
}