*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    background: black;
    color: white;
}

body{
    font-size: 100%;
    font-family: sans-serif;
}

/*css reset*/

header{
    position: fixed;
    width: 100%;
    padding: 10px;
    background: black;
    z-index: 999;
}

header .logo {
    display: flex;
    align-items: center;
}

header .max-width {
    display: flex;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

#menu li{
    list-style: none;
    display: inline-block;
    margin: 20px;
}

a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: all 0.2s ease;
}

a:hover{
    color: rgb(200, 200, 200);
}

section{
    display: flex;
    flex-direction: column;
    width: 100%;
    float: left;
    height: 100vh;
    position: relative;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#home{
    background: black;
}

#photography{
    background: url(images/photo.jpg) no-repeat center;
    background-size: contain;
}

#video{
    background: url(images/video.jpg) no-repeat center;
    background-size: contain;
}

#sound{
    background: url(images/sound.jpg) no-repeat center;
    background-size: contain;
}

#contact{
    background: black;
}

.container{
    width: 80%;
    max-width: 600px;
    margin: auto;
    padding-top: 200px;
    text-align: center;
}

#photographyTextContainer{
    display: flex;
    text-align: left;
}

#photographyES{
    flex: 1;
    margin: 10px;
}

#photographyEN{
    flex: 1;
    margin: 10px;
}

input, textarea {
    font-family: sans-serif;
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    resize: vertical;
  }
  
button {
    display: flex;
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
button:hover {
    background-color: #45a049;
}